<div class="contnt">
  <h1>Add or Remove <%=params[:enrollment]%></h1>
  <h2> Click on a community below to add or remove <%=params[:enrollment]%>.</h2>
  <p>Click header to sort.</p>
    <table id="add_guest_table" class="output clickable sortable">
        <thead>
            <tr>
                <th id="term">
                    Community Name
                  </th>                
            </tr>
        </thead>
        <tbody>
       <% @comm_sections.each do |s| %>
       <% link_url = url_for(
          :controller    => "section_roles",
          :action        => 'edit',
          :id            => s.pk1,
          :enrollment    => params[:enrollment])%>
        <tr>              
             <td onClick="window.location='<%= link_url %>'">
                <%= s.course_name %>
             </td>
        </tr>
       <% end %>
	</tbody>
     </table>
</div>

