<h1>Editing user_service_role</h1>

<% form_for(@user_service_role) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user_service_role %> |
<%= link_to 'Back', user_service_roles_path %>