vti_encoding:SR|utf8-nl
vti_author:SR|PRANDIUM\\SC-techadmin
vti_modifiedby:SR|PRANDIUM\\SC-techadmin
vti_timelastmodified:TR|02 Jun 2010 21:46:32 -0000
vti_timecreated:TR|02 Jun 2010 21:46:19 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_cacheddtm:TX|02 Jun 2010 21:46:31 -0000
vti_filesize:IR|3
vti_nexttolasttimemodified:TR|02 Jun 2010 21:46:19 -0000
