<div class="contnt">
	<b>The user you tried to add as a designer or instructor/designer is</b>
	<br/>
	<b>currently a student or auditor in the class.</b>
	<br/>
	Please have them removed as a student before adding them as a
	<br/>
	designer or instructor designer.
</div>