<p>
  <b>Controller:</b>
  <%=h @ca_management.controller %>
</p>

<p>
  <b>Action:</b>
  <%=h @ca_management.action %>
</p>


<%= link_to 'Edit', edit_ca_management_path(@ca_management) %> |
<%= link_to 'Back', ca_managements_path %>