<div class="contnt">
	<% form_tag({:action => "reset"}) do -%> 
<u><h1><font color="red">Warning!!!</font></h1></u>
<h3>You are about to remodel <h3>Course:  <font color="green"> <%= @section.course_name %> </font><h3>
	with <h3>Model:  <font color="green"> <%= @model.friendly_name %> </font><h3> <br />
	Please confirm your action by typing in <font color="red">remodel</font> and then click confirm. <br />
	<input type="text" />
	<%= submit_tag "Confirm" %>
	<% end -%>
	<br />
	<br />
	<%= button_to "Cancel", :back %>    
</h3>

</div>
