<div class="contnt">

<u><h2><font color="red">Warning!!!</font></h2></u>
<h3>You are about to remodel Course: PREPAREA with a model named (Model 1)<br />
	Please confirm your action by typing in 'remodel' and then click confirm. <br />
	<input type="text" />
	<input type="submit" />
</h3>

</div>
