<div class="contnt">
	<h1>
		<font color="green">
			Success!!!
		</font>
	</h1>
	<br />
	<h2>
		Your course has been successfully remodeled.
	</h2>
	<br />
	<%= button_to "Okay", :back %>
		
		
		
</div>
