<div class="contnt">
	Pick what you want to do below
	<br/>
	<%= link_to "Register Tool", :action => "register" %>
	<br/>
	<%= link_to "Get Memberships", :action => "get_memberships" %>
	<br/>
	<%= link_to "Create Course", :action => "create_course" %>
	<br/>
	<%= link_to "Get User", :action => "get_user" %>
</div>
