<div class="contnt">
    <%= @res.body.content %>
    <br/>
    <table class="output clickable sortable">
        <tr>
            <th id="sect_id">
                Section ID
            </th>
            <th id="sect_name">
                Section Name
            </th>
        </tr>
        <% for sect in @children %>
        <% unless (sect.id == params[:sect_id]) or (params[:sect_id] == ("xlist-"+sect.id)) %>
        <tr>
            <td>
                <%= sect.id %>
            </td>
            <td>
                <%= sect.short_name %>
            </td>
        </tr>
        <% end # unless sect.id = :sect_id %>
        <% end # for sect in @sections %>
    </table>
    <br/>
    <%= link_to "Back", url_for(:action=>"index") %>
</div>
