<div class="contnt">
	<b>A crosslist already exists for the master child you are trying to use.</b>
	<br/>
	Please use the vista tool to rename the sourced id of the existing crosslist
	<br/>
	before creating a new crosslist with the master child.
</div>