<div class="contnt">
  <h1>Manage Authorizations</h1>
  <h2> Click on check boxes to add or remove role from controller/action</h2>
    <table id="add_guest_table" class="output clickable sortable">
        <thead>
            <tr>
                <th id="term">
                    Course Name
                  </th>                
            </tr>
        </thead>
        <tbody>
        <tr>              
                <td onClick="window.location='<%= link_url %>'">
                    <%= s.section.course_name %>
                </td>
			</tr>
        <% end %>
		</tbody>
	</table>
</div>

