<div class="contnt">
  <p>
  <br/> 
  User(s) could not be found in our system.<br/>
	Please go back and try again.
  </p>
	<% unless params[:portal_ids].empty? %>
		<% params[:portal_ids].each do |id| %>
			<br/>
      <strong><%= id %></strong>
		<% end %>
	<% end %>
</div>
