  <div class="contnt">
  <b>Available Logs</b>
    <table>
      <tr>
        <%if @logs[0]%>
          <td>
            <%= link_to 'Development Log', :controller => 'log', :action => 'development' %>
          </td>
        <%end%>
        <%if @logs[1]%>
          <td>
            <%= link_to 'Staging Log', :controller => 'log', :action => 'staging' %>
          </td>
        <%end%>
        <%if @logs[2]%>
          <td>
            <%= link_to 'Production Log', :controller => 'log', :action => 'production' %>
          </td>
        <%end%>
       </tr>
    </table>
</div>

