<div id="intro">
	<% unless @html.nil? or @html.empty? %>
		<%= @html %>
	<% else %>
		<b>This is the Blackboard Learn Self Service tool.</b>
		<br/>
		Please choose a task on the left.
	<% end %>
</div>
 