<!DOCTYPE htmlPUBLIC "-//W3C//DTDXHTML1.0Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Vista Support Tools 1.0</title>
		<link rel="SHORTCUT ICON" href="/images/chico.ico" />
	</head>
	<body>
		<a href="http://www.csuchico.edu/"> <%= image_tag("csuc_logo.gif", :hspace=>"0", :vspace=>"0", :border=>"0") %>  </a>
    	<b><font size="6">Vista Single Signon 1.0</font></b>
    	<hr />
		<%= yield %>
  		© 2010 Distributed Learning Technologies CSU Chico
	</body>
</html>