<div class="contnt">
	The following users were not added to the community because their
	<br/>
	IDs were not found.
	<% params[:portal_ids].each do |id| %>
		<br/>
		<b><%= id %></b>
	<% end %>
	<br/>
	If you entered any other users, they were added successfully.
</div>