<div class="contnt">
    <b>Add or Remove Community Members</b>
    <br/>
    Click on a section below to add or remove community members.
    <br/>
    <table class="output clickable sortable">
        <thead>
            <tr>
                <th id="term">
                    Term
                </th>
                <th id="sect_name">
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
        	<% link_url = url_for(:action => "form") %>
            <% for section in @sections %>
            <tr onClick="window.location='<%= link_url %>?source_id=<%= section.section_id %>'">
                <td>
                    <%= section.term_name %>
                </td>
                <td>
                    <%= section.short_name %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>